@import 'helpers/mixins';

$color-1: #6157fc;
$color-2: #fe6465;
$color-3: #443dac;
$color-4: #02d27e;
$color-5: #e346b4;
$color-6: #05ccfd;

$colors-list: (#6157fc, #fe6465, #443dac, #02d27e, #e346b4, #05ccfd);

@function randomColor() {
    @return nth($colors-list, random(6));
}

.grid {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0 0 10px 0;

            a {
                color: #ffffff;
                text-decoration: none;
            }
            a:visited {
                color: #ffffff;
            }
            a:hover {
                color: #0badd7;
            }
        }

        img {
            height: 200px;
        }
    }

    $random-color: randomColor();

    .card-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-border-1 {
            width: calc(100% - 5px);
            display: block;
            height: 4px;
            @include background(rgba($random-color, 0.8));
        }

        .card-border-2 {
            width: calc(100% - 10px);
            display: block;
            height: 6px;
            @include background(rgba($random-color, 0.4));
        }

        .card-border-3 {
            width: calc(100% - 15px);
            display: block;
            height: 8px;
            @include background(rgba($random-color, 0.2));
        }
    }
}
